name: Build

on:
  push:
    tags: ["v*"]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: validate gradle wrapper
      uses: gradle/actions/wrapper-validation@v4

    - name: setup jdk
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'microsoft'

    - name: make gradle wrapper executable
      run: chmod +x ./gradlew

    - name: build
      run: ./gradlew build

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: build/libs/*
        token: ${{ secrets.GITHUB_TOKEN }}
